<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processing</title>
    <link href='/static/style.css' rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Q-Seg</h1>
        <form id="imageForm" enctype="multipart/form-data">
            <div class="buttons">
                <label class="custom-file-upload" id="chooseImageBtn">Choisir une image</label>
                <button type="button" id="uploadButton">Qseg</button>
            </div>
        </form>
    </div>

    <div id="imagePopup" class="popup" style="display: none;">
        <span class="popup-close" onclick="closePopup()">&times;</span>
        <img src="./static/images/Ghana_141271_S2Hand.png" alt="Image 1" onclick="selectImage('./static/images/Ghana_141271_S2Hand.tif');">
        <img src="./static/images/Spain_5650136_S2Hand.png" alt="Image 2" onclick="selectImage('./static/images/Spain_5650136_S2Hand.tif')">
        <img src="./static/images/India_399883_S2Hand.png" alt="Image 3" onclick="selectImage('./static/images/India_399883_S2Hand.tif')">
        <img src="./static/images/India_631692_S2Hand.png" alt="Image 4" onclick="selectImage('./static/images/India_631692_S2Hand.tif')">
        <img src="./static/images/India_900498_S2Hand.png" alt="Image 5" onclick="selectImage('./static/images/India_900498_S2Hand.tif')">
        <img src="./static/images/India_1018327_S2Hand.png" alt="Image 6" onclick="selectImage('./static/images/India_1018327_S2Hand.tif')">
        <img src="./static/images/Paraguay_280900_S2Hand.png" alt="Image 7" onclick="selectImage('./static/images/Paraguay_280900_S2Hand.tif')">
        <img src="./static/images/Paraguay_651904_S2Hand.png" alt="Image 8" onclick="selectImage('./static/images/Paraguay_651904_S2Hand.tif')">
        <img src="./static/images/Paraguay_790830_S2Hand.png" alt="Image 9" onclick="selectImage('./static/images/Paraguay_790830_S2Hand.tif')">
        <img src="./static/images/Sri-Lanka_534068_S2Hand.png" alt="Image 10" onclick="selectImage('./static/images/Sri-Lanka_534068_S2Hand.tif')">
        <img src="./static/images/Sri-Lanka_713926_S2Hand.png" alt="Image 11" onclick="selectImage('./static/images/Sri-Lanka_713926_S2Hand.tif')">
    </div>
        <div class="images">
            <div>
                <h3>Original Image</h3>
                <img id="originalImage" src="" alt="Original image will be displayed here" style="display: none;">
            </div>
            <div>
                <h3>Processed Image</h3>
                <img id="resultImage" src="" alt="Processed image will be displayed here" style="display: none;">
                <div id="loading" class="loading" style="display: none;">Loading...</div>
                <div id="statusMessages" class="status-messages"></div>
                <a id="downloadButton" href="#" download="processed_image.png" style="display: none;">Download Processed Image</a>
            </div>
        </div>
    </div>
    <script>
        let imagePath = "";

        document.getElementById("chooseImageBtn").addEventListener("click", function() {
            document.getElementById("imagePopup").style.display = "block";
        });

        function closePopup() {
            document.getElementById("imagePopup").style.display = "none";
        }

        function selectImage(selectedPath) {
            imagePath = selectedPath;
            console.log("Chemin de l'image sélectionnée :", imagePath);

            // Envoyer l'image au serveur pour appliquer extract_rgb_bands()
            $.ajax({
                url: '/extract_rgb',
                type: 'POST',
                data: { image_path: imagePath },
                success: function(response) {
                    if (response.image_data) {
                        // Afficher l'image transformée
                        var processedImageData = "data:image/png;base64," + response.image_data;
                        document.getElementById("originalImage").src = processedImageData;
                        document.getElementById("originalImage").style.display = "block";
                    } else {
                        alert("Erreur : " + response.error);
                    }
                },
                error: function() {
                    alert("Erreur lors du traitement de l'image");
                }
            });

            closePopup();
        }

        $(document).ready(function() {
            var socket = io();

            // Handle real-time messages from the server
            socket.on('messages', function(data) {
                $('#statusMessages').empty(); // Clear previous messages
                $('#statusMessages').text(data.data); // Add the new message
            });

            $("#imageFile").change(function() {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $("#originalImage").attr("src", e.target.result).show();
                    }
                    reader.readAsDataURL(file);

                    var formData = new FormData();
                    formData.append('file', file);

                    $.ajax({
                        url: '/upload',
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function(response) {
                            if (response.image_path) {
                                imagePath = response.image_path;
                                $("#originalImage").attr("src", "data:image/png;base64," + response.image_data).show();
                                alert("Image uploaded successfully");
                            } else {
                                alert("Error uploading image");
                            }
                        },
                        error: function(response) {
                            alert("An error occurred while uploading the image");
                        }
                    });
                }
            });

            $("#uploadButton").click(function() {
                if (imagePath === "") {
                    alert("Please choose an image first");
                    return;
                }

                $("#loading").show();
                $('#statusMessages').empty(); // Clear previous messages

                var formData = new FormData();
                formData.append('image_path', imagePath);
                formData.append('image_height', localStorage.getItem('image_height'));
                formData.append('image_width', localStorage.getItem('image_width'));
                formData.append('water_penalty', localStorage.getItem('water_penalty'));
                formData.append('no_water_penalty', localStorage.getItem('no_water_penalty'));
                formData.append('sigma', localStorage.getItem('sigma'));
                formData.append('mu', localStorage.getItem('mu'));
                formData.append('k', localStorage.getItem('k'));
                $.ajax({
                    url: '/process',
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function(response) {
                        $("#loading").hide();
                        $('#statusMessages').empty(); // Clear previous messages when processing is done

                        if (response.image_data) {
                            var processedImageData = "data:image/png;base64," + response.image_data;
                            $("#resultImage").attr("src", processedImageData).show();
                            $("#downloadButton").attr("href", processedImageData).show();
                        } else {
                            alert("Error processing image");
                        }
                    },
                    error: function(response) {
                        $("#loading").hide();
                        $('#statusMessages').empty(); // Clear previous messages on error
                        alert("An error occurred while processing the image");
                    }
                });
            });
        });
    </script>
</body>
</html>