Flask
qiskit==1.4.2
matplotlib
werkzeug
numpy
networkx
qiskit_optimization
dimod
dwave-system
scikit-learn
glob2
rasterio
flask_socketio
imageio
pybase64
opencv-python
pandas
python-dotenv
gunicorn
eventlet
dwave-ocean-sdk
keras
pillow
seaborn
scipy
# tensorflow==2.11.0
tensorflow
tqdm
PyQt5
PyQt5-tools
